<br>
<div class="container" style="width:80%;">
  <br>
  <h2 class="textAlignCenter">Employee Details</h2>
  <br>

  <form [formGroup]="personAddForm" class="form-vertical"> 

    
  <div class="form-row"> 
      <div class="form-group col-md-6">
        <label for="EmpName">Employee Name</label>
        <input type="text" formControlName="EmpName" class="form-control" id="EmpName" placeholder="Employee Name">
       
      </div>
      <!-- EmpName,DOB,Gender,Address,EmailId -->

      <div class="form-group col-md-6">
        <label for="DOB">Date Of Birth</label>
        <div class="row">
          <div class="col-md-10">
            <input matInput id="DOB" class="form-control" [matDatepicker]="picker" formControlName="DOB" width="50%" placeholder="Date of Birth"> 
          </div>
          <div class="col-md-2">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker color="primary"></mat-datepicker>
          </div>
        </div>
      </div>
  </div>
       
  <div class="row">
      <div class="form-group col-md-6">
        <label for="address">Address</label>
        <input type="text" formControlName="Address" class="form-control" id="address" placeholder="Address">
      </div>

      <div class="form-group col-md-6">
        <label for="EmailId">Email Id</label>
        <input type="text" class="form-control" formControlName="EmailId" id="EmailId" placeholder="EmailId">
      </div>
  </div>

  <div class="row">
      <div class="form-group col-md-6">
        <input type="radio" [value]=true formControlName="Gender" >Male
        <input type="radio" [value]=false formControlName="Gender">Female
        <!-- <input type="radio" value="male" name="gender" required  formControlName="Gender" class="form-control" id="EmpName" placeholder="Gender"> -->
      </div>
      <div class="form-group col-md-6">
       
        <input type="text" *ngIf=false class="form-control"  formControlName="EmpId" id="EmpId" placeholder="EmpId">
      </div>
      </div>
    <!-- </div> -->
    <div class="text-center form-group ">
      <button *ngIf="this.isAdd" [disabled]="!personAddForm.valid"  type="submit" class="btn btn-primary" (click)="AddEmployee()">Add</button> &nbsp;
      <button *ngIf="!this.isAdd" type="submit" class="btn btn-primary" (click)="AddEmployee()">Update</button> &nbsp;
      <button *ngIf="!this.isAdd"   class="btn btn-primary" (click)="AddNewRecord()">Add New Record</button> 
    </div>
    <hr>
  </form>

  <ngx-datatable
  class="bootstrap"
  [rows]="persons"
  [loadingIndicator]="loadingIndicator"
  [columns]="columns"
  rowHeight="auto"
  >
    <ng-template #buttonsTemplate let-row="row" let-value="value">
      <button type="button" class="btn btn-warning" (click)='onEdit(row)'>Edit</button> &nbsp;
      <button type="button" class="btn btn-danger" (click)='onDelete(row)'>Delete</button>
    </ng-template>
  </ngx-datatable>

</div>






